<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!-- FLASHING API ERROR MSGS !-->
 {% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
       {% for message in messages %}
         <li>{{ message }}</li>
       {% endfor %}
     </ul>
   {% endif %}
 {% endwith %}


<form id="calculator-form" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <fieldset>
        <legend>TO (DESTINATION)</legend>

        <label>country_to
        <input type="text" name="country_to" value="GB" list="country-codes" required/>
            <datalist id="country-codes">
                {% for individual_country in country_codes %}
                    <option value="{{ individual_country["alpha-2"] }}">
                        {{ individual_country.name }}
                    </option>
                {% endfor %}
            </datalist>
        </label>

        <label>city_to
        <input type="text" name="city_to" value="London" required/>
        </label>

        <label>street_to
        <input type="text" name="street_to" value="80 Lytton Avenue" required/>
        </label>

        <label>name_to
        <input type="text" name="name_to" value="Alek" required/>
        </label>

        <label>postal_code_to
        <input type="text" name="postal_code_to" value="EN36EN" required/>
        </label>
    </fieldset>

    <fieldset>
        <legend>PACKAGE (cm and kg)</legend>

        <label>weight (kg)
            <input type="number" name="weight" step="0.01" required>
        </label>

        <label>length (cm)
            <input type="number" name="length" required>
        </label>

        <label>width (cm)
            <input type="number" name="width" required>
        </label>

        <label>height (cm)
            <input type="number" name="height" required>
        </label>
    </fieldset>

    <fieldset>
        <legend>DHL TOGGLE OPTIONS</legend>

    <label class="toggle" for="dhl_customs_checkbox">
        <!-- whole toggle element -->
        <span class="toggle_label">DHL EXPRESS: Customs Declarable? <br> Set to "false" by default. </span>

        <!-- this input is where "false" and "true" get saved to-->
        <input type="hidden" name="dhl_is_customs_declarable" value="false">
        <input type="checkbox" class="toggle_input" id="dhl_customs_checkbox" onchange="this.previousElementSibling.value = this.checked ? 'true' : 'false'">
        <span class="toggle_slider"> </span>
        <!-- whole toggle element -->
    </label>

      <label class="toggle" for="dhl_next_day_checkbox">
          <!-- whole toggle element -->
            <span class="toggle_label">DHL EXPRESS: Next Business Day? <br> Set to "false" by default.</span>

           <!-- this input is where "false" and "true" get saved to-->
            <input type="hidden" name="dhl_is_next_business_day" id="dhl_is_next_business_day" value="false">
            <input type="checkbox" class="toggle_input" id="dhl_next_day_checkbox" onchange="this.previousElementSibling.value = this.checked ? 'true' : 'false'">
            <span class="toggle_slider"></span>
          <!-- whole toggle element -->
      </label>
    </fieldset>

    <button
      type="submit"
      style="
        display: block;
        width: 100%;
        margin: 28px 0 0 0;
        padding: 16px;
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        color: #111827;
        background: yellow;
        border: black;
        border-radius: 14px;
        cursor: pointer;
        letter-spacing: -0.01em;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        transition: transform 0.1s ease, box-shadow 0.2s ease;
      ">Calculate
    </button>
</form>

<!-- API OUTPUT --> <!-- API OUTPUT --> <!-- API OUTPUT --> <!-- API OUTPUT --> <!-- API OUTPUT -->

{% if shippo_rates or dhl_rates %}
<section class="results">
    <h2>Shipping Rates Results</h2>

    {% if shippo_rates %}
    <h3>Shippo Rates Results (UPS and FedEx)</h3>
    <table>
        <thead>
        <tr>
            <th>Company</th>
            <th>Service</th>
            <th>Amount Raw</th>
            <th>Henderson Amount (Banker's Rounded)</th>
            <th>Days</th>
        </tr>
        </thead>
        <tbody>
        {% for rate in shippo_rates %}
        <tr>
            <td>{{ rate.provider }}</td>
            <td>{{ rate.servicelevel.name }}</td>
            <td>{{ rate.amount }} {{ rate.currency }}</td>
            <td>{{ "%.2f" | format(rate.amount | float  * 1.20)}} {{ rate.currency }}</td>
            <td>{{ rate.estimated_days }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
<!-- SHIPPO-API-END -->

    {% if dhl_rates %}
    <h3>DHL Rates Results</h3>
    <table>
        <thead>
        <tr>
            <th>Service</th>
            <th>Amount Raw</th>
            <th>Henderson Amount (Banker's Rounded)</th>
            <th>Days</th>

        </tr>
        </thead>
        <tbody>
        {% for product in dhl_rates %}
        <tr>

            <td>{{ product.productName }}</td>
            <td>{{ product.totalPrice[0].price }} {{ product.totalPrice[0].priceCurrency}}</td>
            <td> {{ "%.2f" | format(product.totalPrice[0].price | float * 1.20) }} {{ product.totalPrice[0].priceCurrency}}</td>
            <td>{{ product.deliveryCapabilities.totalTransitDays }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</section>
{% endif %}
</body>
</html>